@use "./partials/variables" as *;

@use "./partials/header";
@use "./partials/main";
@use "./partials/sections";
@use "./partials/poster";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}