@use "./variables" as *;

.main_container {
    height: calc(100vh - 120px);
    overflow-y: auto;
    background-color: $dark;
    z-index: -1000;
}

.main_container::-webkit-scrollbar {
    display: none;
}