@use "./variables" as *;



.my_row::-webkit-scrollbar {
    display: none;
}

.my_row {
    overflow-x: scroll;

    .col-4 {
        position: relative;

        .info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: white;
            padding: 1.5rem;

            img {
                height: 24px;
                width: 24px;
                border-radius: 50%;
            }
        }

        img {
            object-fit: cover;
            max-width: 100%;
            height: 500px;
        }
    }
}