@use "./variables" as *;



.movie_container {
    overflow-x: auto;

    .col-3 {
        position: relative;

        .info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;

            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}

.series_container {
    overflow-x: auto;

    .col-3 {
        position: relative;

        .info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;

            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}